archives.html
article.html
author.html
authors.html
categories.html
category.html
contact.html
search.html
tag.html
tags.html
theme/tipuesearch/*
partial/disqus.html
partial/hero.html
partial/languages.html
partial/latest.html
partial/og_tags.html
partial/search.html
.DS_Store